#map {
	width: 100%;
	height: calc(100vh - 335px);
}

#map div span {
	display: block;
	text-align: center;
	font-size: 1.5em;
	color: #252525;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}